<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <permission
        android:name="com.example.helmet.permission.BIND_HARDWARE_SERVICE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.helmet.permission.BIND_HARDWARE_SERVICE" />

    <application>
        <provider
            android:name=".HelmetHardwareProvider"
            android:authorities="com.example.helmet.hardware"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="false"
            android:permission="com.example.helmet.permission.BIND_HARDWARE_SERVICE"
            android:process=":hardware" />
    </application>
</manifest>
